*~
*.pyc
/doc/layman.8
/doc/layman.8.html
/doc/docbook-xsl.css
/dist
/MANIFEST
*.patch
testpath
Makefile
*/Makefile
8.Plo
*.m4
c-layman/autom4te*
c-layman/config.log
c-layman/config.status
c-layman/src/.*
c-layman/tester
*.lo
c-layman/libtool
