include AUTHORS
include CHANGES
include COPYING
include INSTALL
include README
include README.api
include RELEASE_NOTES
include etc/layman.cfg
include doc/asciidoc.conf
include doc/docbook-xsl.css
include doc/layman.8
include doc/layman.8.html
include doc/layman.8.txt
recursive-include layman/tests *
